body {
    margin: 0;
    background: linear-gradient(to bottom, #fff5f8, #ffe3ec);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    overflow-x: hidden;
}

.screen {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    animation: fadeIn 0.8s ease;
}

.screen.active {
    display: flex;
}

h1 {
    color: #ff4d88;
}

p {
    color: #444;
}

#noBtn{
    position: absolute;
    left: 715px;
    top: 700px;
}

button {
    padding: 12px 25px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    background: #ff80ab;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    background: #ff4d88;
}

.image {
    width: 80%;
    max-width: 300px;
    margin: 20px 0;
}

.carousel img {
    width: 85%;
    max-width: 320px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: opacity 0.5s ease;
}

.final-text {
    font-size: 20px;
    max-width: 400px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

/* Сердечки */

@keyframes float {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-100vh); opacity: 0; }
}

@media (max-width: 600px) {

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    button {
        width: 80%;
        max-width: 250px;
        font-size: 14px;
    }

    .final-text {
        font-size: 16px;
        padding: 0 20px;
    }

}
